.wrapper-welcome {
  width: 100%;
  height: 100vh;
  background: url('../images/bg/bg-welcome.jpg') no-repeat center/cover;
  position: relative;
  overflow: hidden;
  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include phones {
      display: none;
    }
  }
  &__btn {
    position: absolute;
    top: rem(24px);
    right: rem(100px);
    @include  phones {
      top: rem(10px);
      right: 50%;
      transform: translateX(50%);
    }
  }
  &__greeting-container {
    width: rem(380px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include phones {
      width: 90%;
    }
  }
  &__footer {
    position: absolute;
    bottom: rem(30px);
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    @include phones {
      bottom: rem(10px);
    }
  }
}