extends ../base
include ../helpers/_mixins

block head
    title Олег Муллакаев

block content
    .preloader
        svg.preloader__svg(width="52.586px" height="63.73px" viewBox="0 0 56 76")
            circle(class='preloader__svg-one' fill='none' stroke='#ffffff' stroke-width="2.5864" stroke-miterlimit="10" cx="26.293" cy="37.438" r="25")
            circle(class='preloader__svg-two' fill='#ffffff' cx="26.293" cy="4.5" r="4.5")
        span.preloader__text
    .wrapper-welcome
        video.wrapper-welcome__video(autoplay loop muted)
            source.wrapper-welcome__video-source(src=require('../../media/night.mp4') type='video/mp4')
        .parallax
            .parallax__layer
                img.parallax__image(src=require('../../images/bg/mount1-min.png'))
        button.btn-autorization.wrapper-welcome__btn(type='button') Авторизоваться
        .wrapper-welcome__greeting-container
            .greeting-container
                .greeting-container__face
                    .greeting-container__main
                        .img-container.greeting-container__img
                            img.img-container__avatar(src=require('../../images/avatar.jpg'))
                        .info.greeting-container__info
                            h1.info__name Олег Муллакаев
                            p.info__description Личный сайт веб разработчика
                        +socials('greeting-container', 'welcome')
                    nav.greeting-container__nav
                        +navigation([['./works.html', 'Мои работы'], ['./about.html', 'Обо мне'], ['./blog.html', 'Блог']], 'welcome')
                .greeting-container__back
                    h2.greeting-container__autorization-title АВТОРИЗУЙТЕСЬ
                    .form
                        form.form__elem(method='post' id='form-auth')
                            .form__wrapper
                                .form__row-text
                                    label.form__label-text(for='login')
                                        i(class='fa fa-user' aria-hidden='true')
                                    input.form__input-text(type='text' id='login' name='login' placeholder='Логин')
                                .form__row-text
                                    label.form__label-text(for='password')
                                        i(class='fa fa-key' aria-hidden='true')
                                    input.form__input-text(type='password' id='password' name='password' placeholder='Пароль')
                                .form__row-checkbox
                                    input.form__input-checkbox(type='checkbox' value='1' id='human' name='human')
                                    label.form__label-checkbox(for='human') Я человек
                                .form__row-question
                                    span.form__question Вы точно не робот?
                                .form__row-radio
                                    .form__block-radio
                                        input.form__input-radio#testyes(type='radio' name='test' value='человек')
                                        label.form__label-radio(for='testyes') Да
                                    .form__block-radio
                                        input.form__input-radio#testno(type='radio' name='test' value='робот' checked)
                                        label.form__label-radio(for='testno') Не уверен
                            .form__nav
                                button.form__nav-btn(type='button') На главную
                                button.form__nav-btn(type='submit') Авторизоваться
        footer.wrapper-welcome__footer
            +copyright