extends ../base

block head
    title Владимир Астахов

block content
    .wrapper-welcome
        button.btn-autorization.wrapper-welcome__btn Авторизоваться
        .greeting-container.wraperr-welcome__greeting-container
            .greeting-container__face
                .img-container.greeting-container__img
                    img.img-container__avatar
                .info.greeting-container__info
                    h1.info__name Владимир Астахов
                    p.info__description Личный сайт веб разработчика
            .greeting-container__back