extends ../base

block head
    title Страница приветствия

block content
    .wrapper-welcome
        button.btn-autorization.wrapper-welcome__btn Авторизоваться
        .greeting-container.wraperr-welcome__greeting-container
            .greeting-container__face
                .img-container.greeting-container__img
                img.img-container__avatar

            .greeting-container__back