extends ../template
include ../helpers/_mixins

block head
    title Мой блог
block content
    +header('info__title', 'БЛОГ', 'Статьи, которые я написал', 'hide')
    section.blog
        .blog__triangle-blog
            svg.blog__triangle-icon(xmlns="http://www.w3.org/2000/svg", viewbox='0 0 1000 85', preserveAspectRatio="none")
                polygon.blog__triangle_left(fill="#faf8f0" points="0,0 0,86 500.8,86 500.8,75.5" )
                polygon.blog__triangle_right( fill="#faf8f0" points="1000,0 1000,86 500,86 500,75.5" )
        .blog__aside
            ul.article-titles.blog__article-titles
                li.article-titles__item.article-titles__item_active(data-item='2')
                    a(href='#' class='article-titles__link') Самое важное в SASS
                li.article-titles__item(data-item='1')
                    a(href='#' class='article-titles__link') Приемы в верстке, без которых не обходится ни один сайт
        .blog__content
            ul.article-list.blog__article-list
                li.article-list__item(data-text='2')
                    h3.article-list__title Самое важное в SASS
                    span.article-list__date 22 ноября 2016
                    .article-list__text-content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                li.article-list__item(data-text='1')
                    h3.article-list__title Приемы в верстке, без которых не обойдется ни один сайт
                    span.article-list__date 13 ноября 2016
                    .article-list__text-content
                        p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        //Todo: посмотреть неиспользуемы классы в article-titles и article-list!!!