.article-titles {
  padding: 0 rem(20px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__item {
    text-align: right;
    max-width: rem(280px);
    &_active {
      border-right: 3px solid $light;
      & .article-titles__link {
        color: $light;
        @include roboto(bold, regular);
      }
    }
  }
  &__link {
    display: inline-block;
    padding: rem(15px);
    text-decoration: none;
    color: $color-text;
    line-height: rem(26px);
  }
}