.blog {
  width: 100%;
  padding: rem(70px) 0 rem(300px) 0;
  background-color: #faf8f0;
  position: relative;
  display: flex;
  @include phones {
    padding-bottom: rem(430px);
  }
  &__triangle-blog {
    position: absolute;
    font-size: 0;
    bottom: 100%;
    left: 0;
    right: 0;
  }
  &__triangle-icon {
    height: 20vh;
    width: 100%;
  }
  &__aside {
    width: 28%;
    margin-right: rem(80px);
    //todo: отстилизовать левое меню в блоге и сделать вправо выдвижение
    @include tablets {
      margin-right: 0;
      position: fixed;
      left: -90%;
      top: 0;
      bottom: 0;
      width: 90%;
    }
  }
  &__content {
    width: 72%;
    padding-right: rem(25px);
    @include tablets {
      width: 100%;
      padding: 0 rem(25px);
    }
  }
}