header.header
    +socials('header', 'header')
    a.burger.header__burger(href='#')
        span.burger__line
        span.burger__line
        span.burger__line
    .header__greeting-container
        .img-container.header__img-container
            img.img-container__avatar(src=require('../../images/avatar.jpg'))
        .header__info.info
            h2.info__name Владимир Астахов
            p.info__description Личный сайт веб разработчика
    a.header__arrow(href='#')
        svg.header__arrow-icon
            use(xlink:href=require('../../images/icons/sprite.svg') + '#arrow_down')