.greeting-container {
  background-color: $transp-bg;
  color: #ffffff;
  transform-style: preserve-3d;
  transition: .3s linear;
  position: relative;

  &:hover {
    /*transform: rotateY(180deg);*/
  }
  &__face {
    backface-visibility: hidden;
    transform: rotateY(0);
  }
  &__main {
    padding: rem(40px) rem(20px) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__img {
    margin-bottom: rem(15px);
  }
  &__info {
    margin-bottom: rem(30px);
    @include phones {
      margin-bottom: rem(20px);
    }
  }
  &__socials {
    margin-bottom: rem(30px);
    @include phones {
      margin-bottom: rem(20px);
    }
  }
  &__back {
    /*display: none;*/
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__autorization-title {
    padding: rem(40px) rem(20px) 0;
    text-align: center;
    @include subtitle();
    @include tablets {
      font-size: rem(30px);
    }
  }
}