.info {
  text-align: center;
  color: #ffffff;
  &__name {
    @include roboto(medium, regular);
    font-size: rem(28px);
    margin-bottom: 0;
  }
  &__description {
    @include roboto(regular, regular);
    font-size: rem(16px);
  }
}