.skills-row {
  margin-bottom: rem(20px);
  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    @include roboto(medium, regular);
    font-size: rem(28px);
    color: $gray;
    margin-bottom: rem(20px);
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    @include tablets {
      justify-content: space-around;
    }
  }
  &__item{
    margin-right: rem(35px);
    &:last-child {
      margin-right: 0;
      @include tablets {
        //margin-right: rem(35px);
      }
    }
    @include tablets {
      margin-right: 0;
      padding: 10px 15px;
    }
  }
  &__container {
    position: relative;
  }
  &__circle {
    width: rem(110px);
    height: rem(110px);
  }
  &__title-skill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #243994;
    @include roboto(medium, regular);
    font-size: rem(14px);
    text-align: center;
  }
}