.header {
  width: 100%;
  height: 100vh;
  background: url('../images/bg/bg-welcome.jpg') no-repeat center/cover;
  position: relative;
  &__socials {
    position: relative;
    top: rem(35px);
    left: rem(35px);
  }
  &__burger {
    position: absolute;
    top: rem(30px);
    right: rem(30px);
  }
  &__greeting-container {
    width: rem(380px);
    position: absolute;
    top: 14vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(35px);
    background: url('../images/icons/stars1.svg') no-repeat center/cover;
    @include phones {
      background-size: contain;
      width: 100%;
    }
  }
  &__img-container {
    margin-bottom: rem(15px);
  }
  &__info {
    margin-bottom: rem(30px);
  }
  &__arrow {
    position: absolute;
    bottom: 40vh;
    left: 50%;
    transform: translateX(-50%);
    &-icon {
      width: rem(26px);
      height: rem(16px);
      fill: #c3c2c8;
      transition: .3s linear;
      &:hover {
        fill: #ffffff;
      }
    }
  }
}