.about-me {
  width: 100%;
  background: url('../images/bg/works-bg.jpg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: rem(230px);
  @include phones {
    padding-bottom: rem(400px);
  }
  &__title {
    max-width: rem(450px);
    text-align: center;
    padding-top: rem(30px);
  }
  &__title-text {
    display: inline-block;
    @include title(#ffffff);
    padding: rem(30px) 0;
    background: url('../images/icons/stars3-bg.svg') no-repeat center/contain;
    @include tablets {
      font-size: rem(49px);
    }
    @include phones {
      font-size: rem(40px);
    }
  }
  &__form {
    margin-bottom: rem(70px);
    @include phones {
      width: 90%;
    }
  }
  &__arrow-up {
    margin-bottom: rem(70px);
  }
  &__up-icon {
    width: rem(26px);
    height: rem(16px);
    fill: #c3c2c8;
    transition: .3s linear;
    &:hover {
      fill: #ffffff;
    }
  }
}