.form-feedback {
  width: rem(380px);
  position: relative;
  z-index: 5;
  @include phones {
    width: 100%;
  }
  &__wrapper {
    padding: 0 rem(20px);
  }
  &__title {
    text-align: center;
    padding-top: rem(45px);
    margin-bottom: rem(30px);
    &-text {
      color: #ffffff;
      @include phones {
        font-size: rem(21px);
        padding-bottom: rem(20px);
      }
    }
  }
  &__row-text {
    margin-bottom: rem(20px);
  }
  &__input-text {
    width: 100%;
    outline: none;
    background-color: rgba(255,255,255, .07);
    border: 2px solid transparent;
    padding: rem(18px);
    color: #ffffff;
    &_textarea {
      height: rem(130px);
      resize: none;
    }
  }
  &__row-btn {
    display: flex;
  }
  &__btn {
    width: 50%;
    border: none;
    outline: none;
    padding: rem(18px) 0;
    &_submit {
      background-color: $light;
      @include roboto(medium, regular);
      color: #ffffff;
      transition: .3s linear;
      &:hover {
        background-color: $dark;
      }
    }
    &_reset {
      @include roboto(regular, regular);
      background-color: transparent;
      color: rgba(255,255,255, .5);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__popup {
    display: none;
    padding: rem(20px);
    width: rem(200px);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: rem(5px);
    &-text {
      display: block;
      text-align: center;
    }
    &-button {
      display: block;
      padding: rem(15px) rem(20px);
      margin: rem(20px) auto 0;
      outline: none;
      border: none;
      border-radius: rem(5px);
      background-color: $light;
      color: #ffffff;
      &:hover {
        background-color: $dark;
      }
    }
  }
}