.slider-info {
  background-color: #f2f0e8;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablets {
    width: 100%;
    height: 30%;
  }
  &__container {
    max-width: rem(400px);
    text-align: center;
    @include tablets {
      max-width: 100%;
    }
  }
  &__title {
    margin-bottom: rem(25px);
    @include tablets {
      margin-bottom: rem(20px);
    }
  }
  &__text {
    margin-bottom: rem(50px);
    @include tablets {
      margin-bottom: rem(20px);
    }
    & p {
      margin-bottom: rem(10px);
    }
    & span {
      color: $dark;
    }
  }
  &__link {
    display: inline-block;
    background-color: #004cd1;
    color: #ffffff;
    text-decoration: none;
    padding: rem(15px);
    transition: .3s linear;
    &:hover {
      background-color: $dark;
    }
    &-icon {
      margin-right: rem(10px);
    }
    &-text {
      @include roboto(medium, regular);
    }
  }
}