html,
body{
  width: 100%;
  font-size: 16px;
}
body{
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// style reset
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}
//project styles
body {
  background-color: $dark;
  @include roboto(regular, regular);
  color: $color-text;
  font-size: rem(16px);
}
.wrapper {
  position: relative;
  overflow: hidden;
}