//Roboto-regular
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-regular-webfont.woff') format('woff'),
  url('../../fonts/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//Roboto-medium
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-medium-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-medium-webfont.woff') format('woff'),
  url('../../fonts/roboto-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
//Roboto-light
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-light-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-light-webfont.woff') format('woff'),
  url('../../fonts/roboto-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
//Roboto-bold
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-bold-webfont.woff') format('woff'),
  url('../../fonts/roboto-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
//Roboto-italic
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-italic-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-italic-webfont.woff') format('woff'),
  url('../../fonts/roboto-italic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
//Roboto-bold-italic
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-bolditalic-webfont.woff') format('woff'),
  url('../../fonts/roboto-bolditalic-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
//Roboto-light-italic
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-lightitalic-webfont.woff') format('woff'),
  url('../../fonts/roboto-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
//Roboto-bold-italic
@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('../../fonts/roboto-mediumitalic-webfont.woff') format('woff'),
  url('../../fonts/roboto-mediumitalic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
//Sansus-Webissimo-regular
@font-face {
  font-family: 'Sansus-Webissimo';
  src: url('../../fonts/sansus-webissimo-regular-webfont.woff2') format('woff2'),
  url('../../fonts/sansus-webissimo-regular-webfont.woff') format('woff'),
  url('../../fonts/sansus-webissimo-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}